apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: notification-service
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/hoprnet/notification-service
    targetRevision: master
    path: charts/notification-service
    plugin:
      env:
        - name: HELM_VALUES
          value: |
            extraEnvVarsSecret: notification-service
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: true
    syncOptions:
      - CreateNamespace=true
      - PruneLast=true